<!DOCTYPE html>
<html ng-app="LibraryApp">

<head>
  <meta charset="UTF-8">
  <title>Open Book Library</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div ng-controller="LibraryController as library">
    <header>
      <a href="index.html" class="go-back-link">Go Back</a>
      <h1 class="title">Open Books Library</h1> <br>
      <form class="search-form" ng-submit="library.searchBooks()">
        <input class="search-input" type="text" ng-model="library.searchTerm" placeholder="Search for books">
        <button type="submit" class="search-button">Search</button>
      </form>
    </header>

    <section>
  <h2>Search Results</h2>
  <p class="error-message" ng-if="library.errorMessage">{{ library.errorMessage }}</p>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publish Year</th>
            <th>Cover</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="book in library.books">
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.publishYear }}</td>
            <td><img ng-src="{{ book.cover }}" alt="{{ book.title }}"></td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="pagination">
      <button ng-disabled="library.currentPage === 1" ng-click="library.previousPage()">Previous</button>
      <span>{{ library.currentPage }}</span>
      <button ng-disabled="library.books.length < 10" ng-click="library.nextPage()">Next</button>
    </section>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="app.js"></script>
</body>

</html>
